@model ProjectManagementApp.Models.Project

@{
    ViewBag.Title = "Delete project";
    ViewBag.CurrentProject = Model;
}

<div id="content" class="column grid_12">
  <div class="inner last">
    <h2 class="center"><span class="iconic x"></span> Delete Confirmation</h2>
    <hr />
  
    @using (Html.BeginForm()) {
        <fieldset class="inputs">
            <ol>
                <li>Are you sure you want to delete the project titled <strong>@Model.Name</strong>?</li>
                <li><input type="submit" value="Delete" /> or @Html.ActionLink("Cancel", "Details", "Projects", new { id = Model.Id }, null)</li>
            </ol>
        </fieldset>
    }
  </div>
</div>