@{
    ViewBag.Title = "Home";
}

<div id="content" class="column grid_12">
  <div class="inner last">
  
    <h2 class="center"><span class="iconic home"></span> Home</h2>
    <hr />
    
    <p class="center">
      This is the home page for the project management application.
      <br /><br />
      <a href="/Account/Register" class="big button">
        <span class="check iconic"></span> Sign up now!
      </a>
    </p>
    
  </div>
</div>